*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Keystore files
*.jks
*keystore*

# Local environment files
local.properties

# app bundles
*.aab